:root {
  --background-color: #f5e9c0;
  --wild-color: #76c5d3;
  --navbar-color: #5c0261;
  --text-color: rgb(255, 255, 255);
  --main-color: #1f1f1f;
  --nav-link-color: rgb(255, 255, 255);
  --highlight-color: #d67c21;
  --footer-color: rgb(0, 0, 0);
  --cololkfjdlfkdjsjklfd: #95dd83;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-size: 18px;
}

a {
  color: var(--main-color);
}

.font-link {
  font-family: 'Alex Brush', cursive;
  font-weight: normal;
}

.mapfront{
  background-color:var(--background-color);
}

.particles-canvas-wrapper {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.front {
  background-position: center;
  text-align: center;
}

.FrontText {
  padding-top: 30%;
}

.navbar {
  background-color: var(--navbar-color);
}

.navbar.primary {
  background-color: var(--navbar-color);
}

.navbar .navbar-brand {
  margin-left: 60px;
  margin-right: 80px;
  font-size: 36px;
  font-weight: 700;
  color: var(--nav-link-color);
}

.navbar .navbar-nav .nav-link {
  color: var(--nav-link-color);
  margin-right: 30px;
  font-size: 18px;
  transition: 0.25s all;
}

.navbar .navbar-nav .nav-link:hover {
  transition: 0.25s all;
}

.primary {
}

.box {
  border: 1px solid black;
  min-height: 50px;
  padding: 10px;
  border-radius: 10%;
  margin: 1%;
  transition: box-shadow 0.3s;
  background-color: #000000;
}

.square:before {
  content: "";
  display: block;
  padding-top: 50%; /* initial ratio of 1:1*/
  padding-bottom: 50%;
}

.float-left {
  float: left;
}

.background-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.header-div {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  margin-top: 10%;
  margin-bottom: 3%;
  background-color: #faab5b;
  border-radius: 2px;
}

.test-container{
  margin-top: 20%;
}

.mapCol {
  width: 50%;
  text-align: center;
  align-items: center;
}

.inMapRow{
  justify-content: center;
  align-items: center;
}

.recommend-text-small{
  color:#000000;
  font-size:smaller;
  text-decoration: underline;
}

.recommend-text-big{
  color:#000000;
  font-size: larger;
  text-decoration: underline;
}

.restaurant-text-big{
  color:#000000;
  font-size: larger;
  font-style: italic;
}
.categories-text-small{
  color:#000000;
  font-size: small;
}

.GMap{
  padding-top:20%;
}

.in-between-text{
  color:#1f1f1f;
  padding-top:1%;
}

.topMapPage{
  padding-top:13%;
}

.colLeftSquish{
  align-items: right;
  justify-content: right;
}

.mapRow{
  float: center;
  text-align: center;
  align-items: center;
}

.MapTagText{
  color:#000000;
}

/* Clear floats after the columns */
.mapRow:after {
  content: "";
  display: table;
  clear: both;
}

.test-text{
  color:#1f1f1f;
}

.auth input {
  margin-bottom: 10px;
}

.auth button {
  margin-bottom: 10px;
}

.auth button {
  background-color: var(--main-color);
}

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 360px) {
}
